.mainPage {
  width: 100%;
  height: 100%;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #29323c;
}

.jusanLogo {
  height: 4rem;
  width: 7rem;
}

.navbarCenterLinkGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
}

.linkGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 100%;
}

.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  color: #fff;
  transition: all ease 0.3;
}

.link:hover {
  background-color: black;
}

.adminTab {
  width: 70%;
  height: 40rem;
  background-color: #29323c;
  border-radius: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminTabContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60%;
}

.adminTab h3 {
  margin-top: 2rem;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.createAdminOpenBtn,
.uploadStepik {
  width: 50%;
  margin-top: 3rem;
  bottom: 30px;
  background: transparent;
  border: 3px solid #fff;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  transition: all ease 0.5s;
}

.createAdminOpenBtn:hover,
.uploadStepik:hover {
  transform: translateY(-10px);
  border: greenyellow 3px solid;
  color: greenyellow;
}

.createAdminOpenBtn:active {
  transform: scale(0.8);
}

.createAdminOpenBtn:disabled {
  cursor: not-allowed;
  border: grey 3px solid;
  color: grey;
}

.createAdminTab,
.uploadStepikTab {
  z-index: 1;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  width: 50%;
  height: 30rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 3rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.uploadStepikTab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.uploadStepikTabBtn {
  margin: auto;
  width: 50%;
  background: transparent;
  border: 3px solid #000;
  padding: 1rem;
  font-size: 2rem;
  color: #000;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  transition: all ease 0.5s;
}

.fileInput {
  background-color: transparent;
}

.uploadStepikTab button:hover {
  border: 3px solid tomato;
  color: tomato;
}

.uploadStepikTab button:active {
  transform: scale(0.8);
}

.uploadStepikTab h3 {
  color: #000;
}

.createAdminTab h3 {
  top: 0;
  color: black;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.createAdminTab label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.createAdminTab input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #000;
}

.createAdminTab button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.createAdminTab button:hover {
  background-color: #080710;
  color: #fff;
}

.closeBtn {
  background-image: url("../img/close-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: all ease 1s;
}

.closeBtn:hover {
  transform: rotate(180deg);
}

.closeBtn:active {
  transform: scale(0.8);
}
