.stageTab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  height: 85%;
  border: 5px solid black;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  margin: auto;
  margin-top: 2rem;
}

.stageTab h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

.stageTabNav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  align-items: center;
  margin-top: 2rem;
}

.stageTabNavLink,
.stageTabNavDeleteBtn,
.stageTabNavShowTableBtn {
  flex-grow: 1;
  font-size: 1.5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}

.stageTabNavShowTableBtn {
  background-color: yellowgreen;
}

.stageTabNavShowTableBtn:hover {
  cursor: pointer;
  background-color: green;
}

.stageTabNavDeleteBtn {
  background-color: tomato;
}

.stageTabNavDeleteBtn:hover {
  cursor: pointer;
  background-color: red;
}

.stageTabNavLink:hover {
  background-color: black;
  color: #fff;
}

.table {
  width: 80%;
  margin-top: 30px;
}
